# Final_assignment

In [371]:
import pandas as pd
import numpy as np
import yaml

from bokeh.io import output_notebook
output_notebook()

Loading data:

# Data loading:

In [372]:
with open('../assessments/config.yaml', 'r') as stream:
    config= yaml.safe_load(stream)
total_death= config['Total_death']
df_total= pd.read_csv(total_death, sep=';')
df_total.head()

   ID  Gender   Periods  TotalDeaths_1
0  72    3000  1950JJ00          39121
1  73    3000  1951JJ00          40294
2  74    3000  1952JJ00          39467
3  75    3000  1953JJ00          42128
4  76    3000  1954JJ00          41970

In [373]:
death_cause = config['couse_of_death']
df_cause = pd.read_csv(death_cause, sep= ';')

df_cause.head()

,ID,Sex,Age,Periods,k_11Tuberculosis_3,k_12CerebrospinalInfection_4,k_13ViralHepatitis_5,k_14AIDS_6,k_15OtherInfectAndParasiticDiseases_7,k_61Meningitis_40,TotalDiseasesOfTheRespiratorySystem_50,k_81Influenza_51,k_82Pneumonia_52,TotalCongenitalAnomalies_72,k_151OfTheNervousSystem_73,k_152OfTheCirculatorySystem_74,k_181ConfirmedCOVID19_94
0,1656,3000,10010,1950JJ00,10,12,0,NaN,89,36,216,14,175,555,170,209,NaN
1,1657,3000,10010,1951JJ00,9,11,1,NaN,99,30,238,18,191,590,176,245,NaN
2,1658,3000,10010,1952JJ00,9,20,2,NaN,64,27,185,17,137,568,180,213,NaN
3,1659,3000,10010,1953JJ00,3,12,2,NaN,56,26,168,20,123,585,171,246,NaN
4,1660,3000,10010,1954JJ00,5,10,0,NaN,31,41,135,4,111,581,206,220,NaN

In [374]:
#drop the non infectiouse deases:
df_cause.drop(df_cause.iloc[:,13:16], axis=1, inplace=True)
df_cause.head()

,ID,Sex,Age,Periods,k_11Tuberculosis_3,k_12CerebrospinalInfection_4,k_13ViralHepatitis_5,k_14AIDS_6,k_15OtherInfectAndParasiticDiseases_7,k_61Meningitis_40,TotalDiseasesOfTheRespiratorySystem_50,k_81Influenza_51,k_82Pneumonia_52,k_181ConfirmedCOVID19_94
0,1656,3000,10010,1950JJ00,10,12,0,NaN,89,36,216,14,175,NaN
1,1657,3000,10010,1951JJ00,9,11,1,NaN,99,30,238,18,191,NaN
2,1658,3000,10010,1952JJ00,9,20,2,NaN,64,27,185,17,137,NaN
3,1659,3000,10010,1953JJ00,3,12,2,NaN,56,26,168,20,123,NaN
4,1660,3000,10010,1954JJ00,5,10,0,NaN,31,41,135,4,111,NaN

In [375]:
df_cause.drop(df_cause.iloc[:,9:11], axis=1, inplace=True)
df_cause.head()

,ID,Sex,Age,Periods,k_11Tuberculosis_3,k_12CerebrospinalInfection_4,k_13ViralHepatitis_5,k_14AIDS_6,k_15OtherInfectAndParasiticDiseases_7,k_81Influenza_51,k_82Pneumonia_52,k_181ConfirmedCOVID19_94
0,1656,3000,10010,1950JJ00,10,12,0,NaN,89,14,175,NaN
1,1657,3000,10010,1951JJ00,9,11,1,NaN,99,18,191,NaN
2,1658,3000,10010,1952JJ00,9,20,2,NaN,64,17,137,NaN
3,1659,3000,10010,1953JJ00,3,12,2,NaN,56,20,123,NaN
4,1660,3000,10010,1954JJ00,5,10,0,NaN,31,4,111,NaN

In [376]:
#changing the name of the columns to make it more readble
# here i make a dictinary of old name as a key and new  as value:
new_columns ={'Sex':'Gender','k_11Tuberculosis_3':'Tuberculosis','k_12CerebrospinalInfection_4':'CerebrospinalInfection',
             'k_13ViralHepatitis_5':'ViralHepatitis','k_14AIDS_6':'AIDS', 
              'k_15OtherInfectAndParasiticDiseases_7':'OtherInfectAndParasiticDiseases','k_81Influenza_51':'Influenza','k_82Pneumonia_52':'Pneumonia', 
             'k_181ConfirmedCOVID19_94':'ConfirmedCOVID19'}
df_cause.rename(columns= new_columns, inplace=True)

df_cause.head()

,ID,Gender,Age,Periods,Tuberculosis,CerebrospinalInfection,ViralHepatitis,AIDS,OtherInfectAndParasiticDiseases,Influenza,Pneumonia,ConfirmedCOVID19
0,1656,3000,10010,1950JJ00,10,12,0,NaN,89,14,175,NaN
1,1657,3000,10010,1951JJ00,9,11,1,NaN,99,18,191,NaN
2,1658,3000,10010,1952JJ00,9,20,2,NaN,64,17,137,NaN
3,1659,3000,10010,1953JJ00,3,12,2,NaN,56,20,123,NaN
4,1660,3000,10010,1954JJ00,5,10,0,NaN,31,4,111,NaN

In [377]:
#Periods value is object type, i should change it to datetime formate, i have to replace the unknown-string-format-on-pd-to_datetime:      

df_cause['Periods']=df_cause['Periods'].str.replace('JJ00','')

df_cause['Periods']= pd.to_datetime(df_cause['Periods'])
df_cause.dtypes

ID                                          int64
Gender                                      int64
Age                                         int64
Periods                            datetime64[ns]
Tuberculosis                                int64
CerebrospinalInfection                      int64
ViralHepatitis                              int64
AIDS                                      float64
OtherInfectAndParasiticDiseases             int64
Influenza                                   int64
Pneumonia                                   int64
ConfirmedCOVID19                          float64
dtype: object

In [378]:
# changeing the object data type to datetime formate
df_total['Periods']= df_total['Periods'].str.replace('JJ00','')
df_total['Periods']=pd.to_datetime(df_total['Periods'])
df_total.dtypes

ID                        int64
Gender                    int64
Periods          datetime64[ns]
TotalDeaths_1             int64
dtype: object

In [379]:
# #collecting data from 2015
new_df_total = df_total[df_total['Periods']>'2014']
dict_total_death= {'Age31December':'Age','Deaths_1':'Total_death'}
#cahinging column name
new_df_total.rename(columns=dict_total_death, inplace= True)
new_df_total.drop(columns=['ID'],inplace = True)
new_df_total.head()

/tmp/ipykernel_1584076/1235006811.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_total.rename(columns=dict_total_death, inplace= True)
/tmp/ipykernel_1584076/1235006811.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_total.drop(columns=['ID'],inplace = True)

    Gender    Periods  TotalDeaths_1
65    3000 2015-01-01          71029
66    3000 2016-01-01          72180
67    3000 2017-01-01          72661
68    3000 2018-01-01          74522
69    3000 2019-01-01          74432

In [380]:
new_df_cause = df_cause[df_cause['Periods']>'2014']
new_df_cause.drop(columns=['ID'],inplace = True)
new_df_cause.head()

/tmp/ipykernel_1584076/4052843753.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_cause.drop(columns=['ID'],inplace = True)

,Gender,Age,Periods,Tuberculosis,CerebrospinalInfection,ViralHepatitis,AIDS,OtherInfectAndParasiticDiseases,Influenza,Pneumonia,ConfirmedCOVID19
65,3000,10010,2015-01-01,0,0,0,0.0,2,0,1,NaN
66,3000,10010,2016-01-01,0,0,0,0.0,0,0,0,NaN
67,3000,10010,2017-01-01,0,1,0,0.0,3,0,1,NaN
68,3000,10010,2018-01-01,0,0,0,0.0,10,0,0,NaN
69,3000,10010,2019-01-01,0,0,0,0.0,5,0,1,NaN

In [381]:
new_df_cause.shape

(280, 11)

In [382]:
new_df_total.shape

(14, 3)

In [383]:
try: 
    df_cause.info()
    df_total.info()
except:
    print('data is not properlly loaded')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2880 entries, 0 to 2879
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               2880 non-null   int64
 1   Gender                           2880 non-null   int64
 2   Age                              2880 non-null   int64
 3   Periods                          2880 non-null   datetime64[ns]
 4   Tuberculosis                     2880 non-null   int64
 5   CerebrospinalInfection           2880 non-null   int64
 6   ViralHepatitis                   2880 non-null   int64
 7   AIDS                             1720 non-null   float64
 8   OtherInfectAndParasiticDiseases  2880 non-null   int64
 9   Influenza                        2880 non-null   int64
 10  Pneumonia                        2880 non-null   int64
 11  ConfirmedCOVID19                 80 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(9)
memory usage: 270.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             144 non-null    int64
 1   Gender         144 non-null    int64
 2   Periods        144 non-null    datetime64[ns]
 3   TotalDeaths_1  144 non-null    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 4.6 KB

In [384]:
df_cause.dtypes
# df_total.dtypes

ID                                          int64
Gender                                      int64
Age                                         int64
Periods                            datetime64[ns]
Tuberculosis                                int64
CerebrospinalInfection                      int64
ViralHepatitis                              int64
AIDS                                      float64
OtherInfectAndParasiticDiseases             int64
Influenza                                   int64
Pneumonia                                   int64
ConfirmedCOVID19                          float64
dtype: object

# Data inspection:

In [385]:
print('missing_value =',new_df_cause.isnull().sum())
#print('missinf_value=', df_cause.isnull())

missing_value = Gender                               0
Age                                  0
Periods                              0
Tuberculosis                         0
CerebrospinalInfection               0
ViralHepatitis                       0
AIDS                                 0
OtherInfectAndParasiticDiseases      0
Influenza                            0
Pneumonia                            0
ConfirmedCOVID19                   200
dtype: int64

In [386]:
# df_cause['ConfirmedCOVID19'].value_counts(ascending=True)
# df_cause

In [387]:
df_merged =pd.merge(new_df_total, new_df_cause, on=['Periods','Gender'])
df_merged.head()

,Gender,Periods,TotalDeaths_1,Age,Tuberculosis,CerebrospinalInfection,ViralHepatitis,AIDS,OtherInfectAndParasiticDiseases,Influenza,Pneumonia,ConfirmedCOVID19
0,3000,2015-01-01,71029,10010,0,0,0,0.0,2,0,1,NaN
1,3000,2015-01-01,71029,51300,0,0,0,0.0,1,0,0,NaN
2,3000,2015-01-01,71029,70200,0,0,0,0.0,2,0,1,NaN
3,3000,2015-01-01,71029,70300,0,0,0,0.0,1,0,0,NaN
4,3000,2015-01-01,71029,70400,0,0,0,0.0,0,0,0,NaN

In [388]:
df_merged.shape

(280, 12)

In [389]:
df_merged.columns

Index(['Gender', 'Periods', 'TotalDeaths_1', 'Age', 'Tuberculosis',
       'CerebrospinalInfection', 'ViralHepatitis', 'AIDS',
       'OtherInfectAndParasiticDiseases', 'Influenza', 'Pneumonia',
       'ConfirmedCOVID19'],
      dtype='object')

In [390]:
new_df_cause.columns

Index(['Gender', 'Age', 'Periods', 'Tuberculosis', 'CerebrospinalInfection',
       'ViralHepatitis', 'AIDS', 'OtherInfectAndParasiticDiseases',
       'Influenza', 'Pneumonia', 'ConfirmedCOVID19'],
      dtype='object')

In [391]:
new_df_total.columns

Index(['Gender', 'Periods', 'TotalDeaths_1'], dtype='object')